<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Angular Part 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="header">
    <p>Welcome to Dashboard!</p>
    <small>Your Registered EmailID:</small>
    <h2>{{userEmail}}</h2>
  </div>

  <div class="header">
    <strong>M E N U</strong>
    <p>Click Your Path!</p>
    <!-- <img src="/assets/icon/abc.png"/> -->
  </div>
  <!-- <div class="form-layout"> -->
  <div>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/students1">
        Students 1
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/students2">
        Students 2
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/students3">
        Students 3 (rxjs)
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/index">
        Index
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/index-realtime">
        Index (RealtimeDB)
    </ion-button>
    <!-- <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/register">
        Register
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/login">
        Login
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/dashboard">
        Dashboard
    </ion-button> -->
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/display-map">
        UMN Map
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/current-loc">
        My Location
    </ion-button>
    <ion-button 
      color="danger"
      expand="block"
      shape="round"
      (click)="logout()">
        Log Out
    </ion-button>
  </div>
  
</ion-content>

<!-- <ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer> -->
