<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Angular Part 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="header">
    <strong>M E N U</strong>
    <p>Click Your Path!</p>
    <!-- <img src="/assets/icon/abc.png"/> -->
  </div>
  <div class="button-container">
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/students1">
        Students 1
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/students2">
        Students 2
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/students3">
        Students 3 (rxjs)
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/index">
        Index
    </ion-button>
    <ion-button 
      color="primary"
      expand="block"
      shape="round"
      routerLink="/index-realtime">
        Index (RealtimeDB)
    </ion-button>
  </div>
  
</ion-content>
